# Copier ce fichier en .env et remplir les valeurs
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password
POSTGRES_DB=retail_db
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
TOPIC_NAME=retail_topic
CSV_PATH=/app/data/data.csv
